name: BioGems Daily Search

on:
  schedule:
    # UTC 21:00 = 한국 시간 익일 오전 06:00
    - cron: '0 21 * * *'
  workflow_dispatch: # 수동 실행 버튼 활성화

jobs:
  run-search:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Alert Script
      env:
        # GitHub Settings > Secrets에 저장된 앱 비밀번호를 불러옵니다.
        GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
      run: python pmc_bot.py
